<head>
    <nav class="navbar navbar-inverse  navbar-static-top navbar-dark">
        <font color="#404040">
            <div class="container-fluid">
                <div class="header">
                    <header class="header">
                        <a class="navbar-brand" href="{% url 'mainhome' %}"><b><font color="#ffa500">PowerWebSite</font></b></a>
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                    Apps & Tools
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'reportedhours' %}">Reported Hours</a></li>
                                    <li><a href="{% url 'competencetracker' %}">Competence Tracker</a></li>
                                    <li><a href="">My Cat</a></li>
                                    <li><a href="{% url 'traitmentoal' %}">Traitment OAL Tools</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                    Standards & Procedures
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/mycatprocedures">MyCat</a></li>
                                    <li><a href="{% url 'capacitynorms' %}">Capacity Norms</a></li>
                                    <li><a href="{% url 'reportedhours' %}">Reported Hours</a></li>
                                    <li><a href="{% url 'codeofconduct' %}">Code of Conduct</a></li>
                                </ul>
                            </li>
                                                 <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                    Reports
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/resourcecalculation">Capacity Power BI</a></li>
                                </ul>
                            </li>
                        </ul>
                </div>
                    <ul class="nav navbar-nav navbar-right">
                     <li>
                        <a>
                            <font>
                                <b>
                                    <script>document.write(new Date().toLocaleDateString());</script>
                                </b>
                            </font>
                        </a>
                     </li>
                     <li>
                        <a><i>{{request.user.username}}</i></a>
                     </li>
                     <li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-log-out"></span><font color="#ffa500"> LogOut</font></a></li>
                    </ul>
    </nav>
</head>
