{% load staticfiles %}
<html>
<div>
    <meta charset=“UTF-8“>
    <meta http-equiv=“X-UA =Compatible“ content=“IE =edge, chrome=1“>
    <title>PowerWebSite Resource Calculation</title>
    <meta name=“description“ content="">
    <meta name=“viewport“ content=“width =device-width“>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.js' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    {% include 'myMsgApp\navbar.html' %}
</div>
<body>
    <iframe width="1900" height="880" src="https://app.powerbi.com/reportEmbed?reportId=40bec884-7730-4930-8c3b-d2ca3a9ccbdd&autoAuth=true&ctid=5d471751-9675-428d-917b-70f44f9630b0" frameborder="0" allowFullScreen="true"></iframe>
</body>
</html>