<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Project</th>
      <th>SUB-PROJECT</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>10</th>
      <th>11</th>
      <th>12</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>None</td>
      <td>None</td>
      <td>0.72</td>
      <td>0.61</td>
      <td>0.02</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CDP</td>
      <td>Automation</td>
      <td>1.21</td>
      <td>2.32</td>
      <td>0.02</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CDP</td>
      <td>CIQ ZTD</td>
      <td>0.67</td>
      <td>0.35</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CDP</td>
      <td>COLLAGE CRZ</td>
      <td>0.56</td>
      <td>0.63</td>
      <td>0.09</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CDP</td>
      <td>COLLAGE RET</td>
      <td>1.03</td>
      <td>2.00</td>
      <td>0.04</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CDP</td>
      <td>Core DLF</td>
      <td>1.31</td>
      <td>1.08</td>
      <td>0.10</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CDP</td>
      <td>Core RC</td>
      <td>0.78</td>
      <td>0.63</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CDP</td>
      <td>CRZ BF</td>
      <td>4.14</td>
      <td>4.95</td>
      <td>0.18</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CDP</td>
      <td>CRZ IP SEC</td>
      <td>0.20</td>
      <td>0.28</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>TAC</td>
      <td>GT Admin</td>
      <td>1.75</td>
      <td>1.93</td>
      <td>0.26</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>TAC</td>
      <td>GT E//</td>
      <td>2.29</td>
      <td>1.30</td>
      <td>0.13</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>TAC</td>
      <td>GT Huawei</td>
      <td>3.72</td>
      <td>2.84</td>
      <td>0.13</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>TAC</td>
      <td>GT Qos</td>
      <td>0.13</td>
      <td>0.21</td>
      <td>0.01</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>TAC</td>
      <td>GU</td>
      <td>2.49</td>
      <td>2.72</td>
      <td>0.08</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CDP</td>
      <td>IMES-SWAP CRZ</td>
      <td>4.90</td>
      <td>5.05</td>
      <td>0.24</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CDP</td>
      <td>LLD/VDR CRZ</td>
      <td>0.02</td>
      <td>0.02</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CDP</td>
      <td>NPO LLD</td>
      <td>0.50</td>
      <td>0.24</td>
      <td>0.06</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CDP</td>
      <td>NPO Neighbor</td>
      <td>2.76</td>
      <td>5.78</td>
      <td>1.03</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CDP</td>
      <td>OLD</td>
      <td>0.36</td>
      <td>0.36</td>
      <td>0.08</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CDP</td>
      <td>PIM</td>
      <td>1.51</td>
      <td>1.12</td>
      <td>0.25</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CDP</td>
      <td>Rehoming Core</td>
      <td>0.04</td>
      <td>0.17</td>
      <td>0.01</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CDP</td>
      <td>Rehoming Radio</td>
      <td>0.48</td>
      <td>0.27</td>
      <td>0.05</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CDP</td>
      <td>RET/TMA</td>
      <td>0.34</td>
      <td>0.08</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>TAC</td>
      <td>RET/TMA</td>
      <td>5.81</td>
      <td>8.19</td>
      <td>1.19</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CDP</td>
      <td>Roll Out</td>
      <td>9.39</td>
      <td>8.49</td>
      <td>0.41</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SAO</td>
      <td>SAO</td>
      <td>5.07</td>
      <td>3.95</td>
      <td>0.24</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CDP</td>
      <td>SUPPORT CRZ</td>
      <td>2.29</td>
      <td>2.37</td>
      <td>0.61</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CDP</td>
      <td>SUPPORT ZTD</td>
      <td>0.10</td>
      <td>0.11</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CDP</td>
      <td>Synthese Crozon</td>
      <td>1.87</td>
      <td>1.87</td>
      <td>0.28</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CDP</td>
      <td>VDR CRZ</td>
      <td>0.33</td>
      <td>0.17</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CDP</td>
      <td>ZTD</td>
      <td>2.26</td>
      <td>1.59</td>
      <td>0.10</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>Totals</td>
      <td>NaN</td>
      <td>59.03</td>
      <td>61.68</td>
      <td>5.61</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>