<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Project</th>
      <th>SUB-PROJECT</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>10</th>
      <th>11</th>
      <th>12</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>CDP</td>
      <td>Automation</td>
      <td>1.21</td>
      <td>2.32</td>
      <td>0.02</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CDP</td>
      <td>CIQ ZTD</td>
      <td>0.38</td>
      <td>0.14</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CDP</td>
      <td>COLLAGE CRZ</td>
      <td>0.51</td>
      <td>0.57</td>
      <td>0.09</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CDP</td>
      <td>CRZ BF</td>
      <td>1.90</td>
      <td>1.70</td>
      <td>0.10</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>TAC</td>
      <td>GT Admin</td>
      <td>1.75</td>
      <td>1.93</td>
      <td>0.26</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>TAC</td>
      <td>GT E//</td>
      <td>2.29</td>
      <td>1.30</td>
      <td>0.13</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>TAC</td>
      <td>GT Huawei</td>
      <td>3.72</td>
      <td>2.85</td>
      <td>0.13</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>TAC</td>
      <td>GT Qos</td>
      <td>0.13</td>
      <td>0.21</td>
      <td>0.01</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>TAC</td>
      <td>GU</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CDP</td>
      <td>IMES-SWAP CRZ</td>
      <td>0.71</td>
      <td>0.63</td>
      <td>0.02</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CDP</td>
      <td>LLD/VDR CRZ</td>
      <td>0.01</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CDP</td>
      <td>NPO Neighbor</td>
      <td>2.34</td>
      <td>5.57</td>
      <td>0.94</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CDP</td>
      <td>PIM</td>
      <td>0.67</td>
      <td>0.56</td>
      <td>0.22</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>TAC</td>
      <td>RET/TMA</td>
      <td>5.81</td>
      <td>8.19</td>
      <td>1.19</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CDP</td>
      <td>Roll Out</td>
      <td>2.20</td>
      <td>2.06</td>
      <td>0.13</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SAO</td>
      <td>SAO</td>
      <td>5.08</td>
      <td>3.94</td>
      <td>0.24</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CDP</td>
      <td>SUPPORT ZTD</td>
      <td>0.10</td>
      <td>0.11</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CDP</td>
      <td>Synthese Crozon</td>
      <td>1.87</td>
      <td>1.87</td>
      <td>0.28</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CDP</td>
      <td>ZTD</td>
      <td>1.88</td>
      <td>1.38</td>
      <td>0.10</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>Totals</td>
      <td>AutomationCIQ ZTDCOLLAGE CRZCRZ BFGT AdminGT E...</td>
      <td>32.56</td>
      <td>35.33</td>
      <td>3.86</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>