<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Engineer</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>10</th>
      <th>11</th>
      <th>12</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ALPREDI, Adrian</td>
      <td>0.250000</td>
      <td>NaN</td>
      <td>0.250000</td>
      <td>0.281250</td>
      <td>0.281250</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>ANGHEL, Stelian</td>
      <td>0.275000</td>
      <td>0.212891</td>
      <td>0.200000</td>
      <td>0.250000</td>
      <td>0.254297</td>
      <td>0.184896</td>
      <td>0.215625</td>
      <td>0.253646</td>
      <td>0.214375</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>ASLAN, Mike</td>
      <td>NaN</td>
      <td>0.195312</td>
      <td>0.251953</td>
      <td>0.254688</td>
      <td>0.275781</td>
      <td>0.372656</td>
      <td>0.278438</td>
      <td>0.257500</td>
      <td>0.289062</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>BERCE, Sergiu</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.218750</td>
      <td>0.281250</td>
      <td>0.281250</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>BEUTURA, Patricia-Marcela</td>
      <td>NaN</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>BOTIZ, Darius</td>
      <td>0.312500</td>
      <td>0.336719</td>
      <td>0.318750</td>
      <td>0.356250</td>
      <td>0.377500</td>
      <td>0.312500</td>
      <td>0.393750</td>
      <td>0.365625</td>
      <td>0.261719</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>BRAN, Alexandru</td>
      <td>0.250000</td>
      <td>NaN</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>BREAZ, Adrian</td>
      <td>NaN</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>BUSUIOC, Gabriel</td>
      <td>0.250000</td>
      <td>0.257500</td>
      <td>0.257812</td>
      <td>0.261719</td>
      <td>0.257812</td>
      <td>0.254167</td>
      <td>0.253906</td>
      <td>0.252344</td>
      <td>0.253125</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CALTARU, Elena</td>
      <td>NaN</td>
      <td>0.312500</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.253125</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250937</td>
      <td>0.234375</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>CLIMA, Adrian</td>
      <td>NaN</td>
      <td>0.193750</td>
      <td>0.123125</td>
      <td>0.145833</td>
      <td>0.304688</td>
      <td>0.281250</td>
      <td>0.203125</td>
      <td>0.250000</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>DANCIU, Andreea</td>
      <td>NaN</td>
      <td>0.307812</td>
      <td>0.253906</td>
      <td>0.425313</td>
      <td>0.695312</td>
      <td>0.268750</td>
      <td>0.386719</td>
      <td>0.279688</td>
      <td>0.273828</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>DEACONESCU, Razvan</td>
      <td>NaN</td>
      <td>0.250000</td>
      <td>0.180859</td>
      <td>0.217578</td>
      <td>0.228125</td>
      <td>0.234375</td>
      <td>0.241875</td>
      <td>0.255729</td>
      <td>0.255859</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>DEACONU, Mihail</td>
      <td>NaN</td>
      <td>0.300781</td>
      <td>0.299479</td>
      <td>0.339375</td>
      <td>0.380313</td>
      <td>0.283438</td>
      <td>0.283125</td>
      <td>0.337500</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>DOBRESCU, Marian</td>
      <td>0.187500</td>
      <td>NaN</td>
      <td>0.265000</td>
      <td>0.287109</td>
      <td>0.450313</td>
      <td>0.261719</td>
      <td>0.328906</td>
      <td>0.279375</td>
      <td>0.262813</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>DRAGHICI, Delia</td>
      <td>NaN</td>
      <td>0.221875</td>
      <td>0.277604</td>
      <td>0.250000</td>
      <td>0.269063</td>
      <td>0.251563</td>
      <td>0.253125</td>
      <td>0.256250</td>
      <td>0.318750</td>
      <td>0.224219</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>DRAGU, Patricia</td>
      <td>NaN</td>
      <td>0.250000</td>
      <td>0.234375</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.234375</td>
      <td>0.250000</td>
      <td>0.197917</td>
      <td>0.250000</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>FARA, Nicolae</td>
      <td>0.250000</td>
      <td>0.281250</td>
      <td>0.278906</td>
      <td>0.250000</td>
      <td>0.140625</td>
      <td>0.070312</td>
      <td>NaN</td>
      <td>0.250000</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>FIRA, Mihai</td>
      <td>NaN</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.343750</td>
      <td>0.317578</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.256250</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>HUTAN, Madalina</td>
      <td>NaN</td>
      <td>0.250000</td>
      <td>0.252344</td>
      <td>0.317188</td>
      <td>0.251953</td>
      <td>0.326172</td>
      <td>0.254297</td>
      <td>0.315625</td>
      <td>0.255938</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>ILCA, Florin</td>
      <td>0.250000</td>
      <td>0.291875</td>
      <td>0.282187</td>
      <td>NaN</td>
      <td>0.254688</td>
      <td>0.263672</td>
      <td>0.251563</td>
      <td>0.253646</td>
      <td>0.259375</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>ILEANA, Tiberiu</td>
      <td>NaN</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.218750</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.218750</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>IONESCU, Dan</td>
      <td>NaN</td>
      <td>0.257812</td>
      <td>0.258594</td>
      <td>0.260417</td>
      <td>0.296484</td>
      <td>0.460000</td>
      <td>0.330729</td>
      <td>0.294531</td>
      <td>0.272500</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>IONESCU, Eduard-Lucian</td>
      <td>0.250000</td>
      <td>0.187500</td>
      <td>0.275625</td>
      <td>0.406641</td>
      <td>NaN</td>
      <td>0.251953</td>
      <td>0.250000</td>
      <td>0.312500</td>
      <td>0.343125</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>IVAN, Mihaela</td>
      <td>NaN</td>
      <td>0.294531</td>
      <td>0.358854</td>
      <td>0.418438</td>
      <td>0.258984</td>
      <td>0.358750</td>
      <td>0.429688</td>
      <td>0.370000</td>
      <td>0.302500</td>
      <td>0.281250</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>JIVAN, Liviu</td>
      <td>0.344792</td>
      <td>0.336979</td>
      <td>0.291667</td>
      <td>0.302083</td>
      <td>0.383203</td>
      <td>0.286328</td>
      <td>0.395313</td>
      <td>0.338438</td>
      <td>0.325781</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>JUGARU, Ionut</td>
      <td>0.250000</td>
      <td>0.181250</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>JURCHESCU, Daciana-Maria</td>
      <td>0.281250</td>
      <td>0.303125</td>
      <td>0.257031</td>
      <td>0.266562</td>
      <td>0.320312</td>
      <td>0.229167</td>
      <td>0.307812</td>
      <td>0.253125</td>
      <td>0.352500</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>JURESCU, Alina</td>
      <td>NaN</td>
      <td>0.187500</td>
      <td>0.189062</td>
      <td>0.187500</td>
      <td>0.189062</td>
      <td>0.190625</td>
      <td>0.189062</td>
      <td>0.189062</td>
      <td>0.187500</td>
      <td>0.187500</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>JURESCU, Georgiana</td>
      <td>0.250000</td>
      <td>0.218750</td>
      <td>0.181641</td>
      <td>0.146875</td>
      <td>0.246354</td>
      <td>0.240625</td>
      <td>0.208333</td>
      <td>0.250000</td>
      <td>0.205208</td>
      <td>0.218750</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>LUPSOIU, Ovidiu</td>
      <td>0.250000</td>
      <td>0.193438</td>
      <td>0.281875</td>
      <td>0.330078</td>
      <td>0.512500</td>
      <td>0.306641</td>
      <td>0.375313</td>
      <td>0.336328</td>
      <td>0.387500</td>
      <td>0.443750</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>LUPU, Andreea</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.308854</td>
      <td>0.208984</td>
      <td>NaN</td>
      <td>0.223958</td>
      <td>0.255469</td>
      <td>0.258750</td>
      <td>0.320833</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>MAG, Mihai</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.257292</td>
      <td>0.255469</td>
      <td>0.258594</td>
      <td>0.316016</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>MILITARU, Marius</td>
      <td>NaN</td>
      <td>0.281250</td>
      <td>0.281250</td>
      <td>0.281250</td>
      <td>0.281250</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>NECULA, Alin</td>
      <td>NaN</td>
      <td>0.196875</td>
      <td>0.189688</td>
      <td>0.115104</td>
      <td>0.250000</td>
      <td>0.213281</td>
      <td>0.198047</td>
      <td>0.180859</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>PANDURU, Emilia</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>PASARICA, Dragos</td>
      <td>NaN</td>
      <td>0.250000</td>
      <td>0.177083</td>
      <td>0.225000</td>
      <td>0.250000</td>
      <td>0.188750</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>PETRILA, Mihai</td>
      <td>NaN</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.150000</td>
      <td>0.250000</td>
      <td>0.225000</td>
      <td>0.281250</td>
      <td>0.267188</td>
      <td>0.281250</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>PETRUT, Dorin</td>
      <td>0.312500</td>
      <td>0.255208</td>
      <td>0.296875</td>
      <td>0.257812</td>
      <td>0.348438</td>
      <td>0.250781</td>
      <td>0.237813</td>
      <td>0.256641</td>
      <td>0.252812</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>POJAR, Mircea</td>
      <td>0.250000</td>
      <td>0.231250</td>
      <td>0.225781</td>
      <td>0.312500</td>
      <td>0.287500</td>
      <td>0.312500</td>
      <td>0.287500</td>
      <td>0.275000</td>
      <td>0.300000</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>PREPELITA, Alin</td>
      <td>0.271875</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.318750</td>
      <td>0.345703</td>
      <td>0.279375</td>
      <td>0.287109</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>RADULESCU, Alexandru</td>
      <td>NaN</td>
      <td>0.197656</td>
      <td>0.223750</td>
      <td>0.250521</td>
      <td>0.399375</td>
      <td>0.264063</td>
      <td>0.279297</td>
      <td>0.233594</td>
      <td>0.249688</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>RONCOV, Ioan</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.125000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SANDOR, Adrian</td>
      <td>NaN</td>
      <td>0.281250</td>
      <td>0.281250</td>
      <td>0.328125</td>
      <td>0.302083</td>
      <td>0.302083</td>
      <td>0.281250</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SOFRONI, Alexandru</td>
      <td>NaN</td>
      <td>0.228437</td>
      <td>0.252344</td>
      <td>0.256641</td>
      <td>0.318359</td>
      <td>0.250000</td>
      <td>0.312500</td>
      <td>0.252344</td>
      <td>0.252500</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SPERLEA, Ramona</td>
      <td>0.375000</td>
      <td>0.281250</td>
      <td>0.322656</td>
      <td>0.302083</td>
      <td>0.246875</td>
      <td>0.259375</td>
      <td>0.266562</td>
      <td>0.234375</td>
      <td>0.278125</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>SPULBER, Mariana</td>
      <td>NaN</td>
      <td>0.209687</td>
      <td>0.171484</td>
      <td>0.193437</td>
      <td>0.269375</td>
      <td>0.130208</td>
      <td>0.152083</td>
      <td>0.196875</td>
      <td>0.283750</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>STAN, Alexandra</td>
      <td>NaN</td>
      <td>0.206641</td>
      <td>0.226562</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.275781</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>STANCIU, Valentin</td>
      <td>0.257031</td>
      <td>0.257812</td>
      <td>0.253906</td>
      <td>0.260937</td>
      <td>0.301953</td>
      <td>0.270833</td>
      <td>0.263672</td>
      <td>0.283594</td>
      <td>0.257812</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>URECHIATU, Ioana</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>URSUL, Andrei</td>
      <td>NaN</td>
      <td>0.163750</td>
      <td>0.255312</td>
      <td>0.331250</td>
      <td>0.258750</td>
      <td>0.263672</td>
      <td>0.255208</td>
      <td>0.312812</td>
      <td>0.279687</td>
      <td>0.271875</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>VASIONI, Darius</td>
      <td>NaN</td>
      <td>0.270833</td>
      <td>0.308594</td>
      <td>0.328125</td>
      <td>0.296875</td>
      <td>0.317708</td>
      <td>0.351562</td>
      <td>0.351562</td>
      <td>0.322917</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>VENTER, Karina-Madalina</td>
      <td>0.318750</td>
      <td>0.255469</td>
      <td>0.252083</td>
      <td>0.321354</td>
      <td>0.331250</td>
      <td>0.253906</td>
      <td>0.255729</td>
      <td>0.318750</td>
      <td>0.270833</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>VILCU, Maria-Madalina</td>
      <td>0.268750</td>
      <td>0.279688</td>
      <td>0.310938</td>
      <td>0.269531</td>
      <td>0.392188</td>
      <td>0.263672</td>
      <td>0.295312</td>
      <td>0.296563</td>
      <td>0.303750</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <td>VULCAN, Paraschiva</td>
      <td>NaN</td>
      <td>0.257812</td>
      <td>0.250000</td>
      <td>0.257812</td>
      <td>0.228125</td>
      <td>0.251953</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>0.250000</td>
      <td>NaN</td>
      <td>None</td>
      <td>None</td>
    </tr>
  </tbody>
</table>